<div class="auth-overlay"></div>
<div class="signup-wrap default">
  <div
    fxLayout="row wrap"
    fxLayoutAlign="center center"
    class="auth-wrap"
  >
    <div
      class="signup-container white "
      fxLayout="row wrap"
      fxLayout.xs="column"
      fxLayoutAlign="start stretch"
      fxFlex="50"
      fxFlex.xs="100"
      fxFlex.sm="80"
    >
      <!-- Left Side content -->
      <div fxLayout="column"
           fxLayoutAlign="center"
           class="signup-header"
           fxFlex="40">
        <div fxLayout="row wrap"
             fxLayoutAlign="center"
        >
          <img width="400px" src="/assets/images/modules/auth/form.svg" alt="">
        </div>

      </div>
      <!-- Right side content -->
      <div fxFlex="60" fxLayout="row wrap" fxLayoutAlign="center center">
        <form [formGroup]="form" (submit)="resetPassword()" class="signup-form grey-100  mat-elevation-z1 full-width">
          <div class="text-center">
            <a [routerLink]="'/auth/sign-in'" class="text-center full-width font-weight-bold">Войти</a>
            <span fxFlex></span>
            <a [routerLink]="'/auth/sign-up'" class="text-center full-width font-weight-bold">Регистрация</a>
          </div>

          <mat-divider class="my-32"></mat-divider>

          <ng-template [ngIf]="hasQueryToken" [ngIfElse]="mail_template">
            <ng-template [ngIf]="!isPasswordReset" [ngIfElse]="is_password_reset">
              <div class="form-headline text-left">
                <p>
                  Введите новый пароль
                </p>
              </div>
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Пароль</mat-label>
                <input
                  matInput
                  formControlName="password"
                  type="password"
                  name="password"
                  placeholder="Введите пароль"
                />
                <mat-error>{{ form.get('password')?.errors }}</mat-error>
              </mat-form-field>

              <div class="full-width">
                <mat-error>{{ form.get('token')?.errors }}</mat-error>
              </div>

              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Повторите пароль</mat-label>
                <label>
                  <input
                    formControlName="password_confirmation"
                    matInput
                    name="password_confirmation"
                    type="password"
                    placeholder="Повторите пароль"
                  />
                </label>
                <mat-error>{{ form.get('password_confirmation')?.errors }}</mat-error>
              </mat-form-field>
              <div class="mb-16">
                <button type="submit"
                        fxFill mat-raised-button
                        color="primary"
                >
                  Отправить
                </button>
              </div>
            </ng-template>

            <ng-template #is_password_reset>
              <div class="form-headline text-left">
                <p>
                  Пароль изменен вы можете войти с новым паролем
                </p>
              </div>
              <div class="mb-16">
                <a [routerLink]="'/auth/sign-in'">
                  <button type="submit"
                          fxFill
                          mat-raised-button
                          color="primary"
                  >
                   Войти
                  </button>
                </a>
              </div>
            </ng-template>


          </ng-template>

          <ng-template #mail_template>
            <ng-template  [ngIf]="!isMailSend" [ngIfElse]="mail_send">
              <div class="form-headline text-left">
                <p>
                  Для восстановления пароля, пожалуйста, введите свой адрес электронной почты, связанный с вашей учетной записью, в поле ниже.
                  Мы вышлем вам письмо с дальнейшими инструкциями по сбросу пароля.
                </p>
              </div>
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Email</mat-label>
                <input
                  matInput
                  formControlName="email"
                  type="email"
                  name="email"
                  placeholder="Введите Email"
                />
                <mat-error>{{ form.get('email')?.errors }}</mat-error>
              </mat-form-field>
              <div class="mb-16">
                <button type="submit"
                        fxFill mat-raised-button
                        color="primary"
                >
                  Отправить
                </button>
              </div>
            </ng-template>
          </ng-template>
          <ng-template #mail_send>
            <div class="form-headline text-left">
              <p>
                Мы отправили вам письмо с дальнейшими инструкциями по сбросу пароля.
              </p>
            </div>
            <div class="mb-16">
              <a [routerLink]="'/'">
                <button type="submit"
                        fxFill
                        mat-raised-button
                        color="primary"
                >
                  На главную
                </button>
              </a>
            </div>
          </ng-template>
        </form>
      </div>
    </div>
  </div>
</div>

